@font-face {
    font-family: 'Title';
    src: url('./Roboto-Bold.ttf');
}

@font-face {
    font-family: 'City';
    src: url('./Roboto-Medium.ttf');
}

@font-face {
    font-family: 'Stats';
    src: url('./Roboto-Regular.ttf');
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(17 24 39);
  height: 100vh;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #4b5563;
  padding: 1.5rem 3rem 3rem 3rem;
  border-radius: 15px;
  color: white;
}

label {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-top: 10px;
}

input {
  border-radius: 5px;
  padding: 5px;
}

img {
  margin: 1.5rem 0;
}

#stats {
  display: flex;
  gap: 25px;
  justify-content: center;
}

#city {
  font-size: 25px;
  margin-top: 20px;
  font-family: 'City';
}

#title {
  font-family: 'Title';
  font-size: 32px;
}

.stat-col {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

.stat-title {
  color: #9ca3af;
  font-size: 12px;
  font-family: 'Stats';
}

#temp, #minmax, #vis {
  font-family: 'Stats';
}
